
@model IEnumerable<VehiclePortal.Common.ViewModels.AllCarsListedViewModel>
@{

    ViewData["Title"] = "TopRated";
}

<h1 class="display-4 text-center"><i class="fas fa-star" style="color: darkorange"></i> Top Rated</h1>

<div class="row">
    @foreach (var car in Model)
    {

        <div class="col-md-4" style="padding-top: 30px;">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="@car.SmallImageUrl" alt="Card image cap">
                <div class="card-body text-center">
                    <h5 class="card-title">@car.Brand @car.CarModel</h5>
                        <p><i class="far fa-star" style="color: darkorange"></i> @car.Rating </p>
                        <a asp-action="Details" asp-controller="Car" asp-route-id="@car.Id" class="btn"><i class="fas fa-info-circle" style="color: darkorange"></i> More</a>
                </div>
            </div>
        </div>
    }
</div>