
@model IEnumerable<VehiclePortal.Common.ViewModels.AllCarsListedViewModel>
@{

    ViewData["Title"] = "TopRated";
}

<h1>TopRated</h1>

@foreach (var car in Model)
{
    <div class="container-fluid">
        <p>@car.Brand</p>
        <p>@car.Fuel</p>
        <p>@car.Rating</p>
        <img src="@car.SmallImageUrl" class="" style="width: 200px;" />
        <img src="@car.LargeImageUrl" class="" style="width: 200px;" />
    </div>
}